@import "tailwindcss";

@layer base {
  @media print {
    body {
      background: white !important;
      color: black !important;
    }
    .no-print {
      display: none !important;
    }
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
